/* 
	earthiverse.ath.cx
	Kent Rasmussen
	hyprkookeez@gmail.com
*/

/* Elements */
body {
	background-image:url(images/bg_line.png);
	background-position:top center;
	background-repeat:repeat;
	margin:0;
	padding:0;
}